<!doctype html>

<html lang="en">

<header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script> 
  <!-- change the name! -->
  <title>{{ fullName }}'s Portfolio</title>
  <!-- link to the master cascading stylesheet -->
  <link rel="stylesheet" href="css/master.css">
  <link rel="FaviconIcon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="name" content="{{ fullName }}'s Portfolio">
  <!-- remove the following line after you are happy with your Website
       so that search engines will index it! -->
  <meta name="robots" content="noindex, nofollow">
</header>

<body ng-app="portfolioSite" ng-controller="appController" >
  <img class="hero" src="images/banner.jpg" width="100%" alt="banner">

  <!-- change this to your name -->
  <h1 ng-bind="fullName"></h1>

  <!-- add a section called "About Me" -->
  <h2>About Me</h2>

  <!-- add a repeat loop to show all the p tags-->
  <div ng-repeat="item in aboutMe">
    <p ng-if="$even" class="halftone">{{ item }}</p>
    <p ng-if="$odd">{{ item }}</p>
  </div>

  <h2>Work Photos</h2>
  <!-- add a repeat loop to generate the img tags -->
  <div ng-repeat="thumbnail in thumbnails">
    <a href="images/{{ thumbnail }}"><img class="images" src="images/{{ thumbnail }}" alt={{ thumbnail }} /></a>
  </div>

  <h2>Contact</h2>

  <!-- add a link to let visitor to send you an email easily! -->
  <p>Email: <a href="mailto:{{ email }}" target="_blank">{{ email }}</a></p>

  <!-- don't post personal physical address, phone number or other personal information on the web! -->

  <!-- add a form to demonstrate data binding -->
  <form name="helloForm">
    What is your name? <input type="text" name="visitorName" ng-model="visitorName" required>
  </form>

  <!-- conditionally shows the thank you message -->
  <h2 ng-if="visitorName.length > 2">Thank you for visiting! {{ visitorName }}</h2>

  <!-- link to the controller script here -->
  <script src="./angular/app.js"></script>
</body>

<footer>
  <hr>
  <p>Powered by <a href="https://angularjs.org/" target= "_blank"><img src="images/angularjs.png" alt="A"> AngularJS</a></p>
  <!-- change the name to yours! -->
  <code>Copyright (C) 2022 {{ fullName }}</code>
</footer>

</html>
